# =========================

# Terraform

# =========================

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# =========================

# Ansible

# =========================

*.retry

# =========================

# Logs

# =========================

*.log

# =========================

# Sensitive / Secrets

# =========================

*.pem
*.key
*.pub
*.env

# =========================

# System files

# =========================

.DS_Store
Thumbs.db

# =========================

# VSCode

# =========================

.vscode/

# =========================

# Build / temp files

# =========================

*.out
*.tmp
*.bak

# =========================

# Python (caso use Ansible local)

# =========================

**pycache**/
*.pyc
